@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'Lato';

  font-display: swap;
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';

  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Lato';

  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Lato';

  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Lato';

  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'Lato';

  font-display: swap;
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.otf") format("otf");
}



@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'Cera Pro';

  font-display: swap;
  src: url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Cera Pro';

  font-display: swap;
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Cera Pro';

  font-display: swap;
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Cera Pro';

  font-display: swap;
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'Cera Pro';

  font-display: swap;
  src: url("../fonts/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.otf") format("otf");
}
